.container {
    width: 1280px;
    margin: 0 auto;
}


.header {
    padding: 35px 0;
}

.main-menu {
    text-align: center;
   }

.main-menu__option {
    display: inline-block;
}

.main-menu__option:not(:last-child) {
    margin-right: 65px;
}

.main-menu__link {
    /*display: inline-block;*/
    font-family: 'Roboto', sans-serif;
    color: hsl(169, 83%, 35%);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 35px 0;*/
    /*margin-right: 65px;*/
    transition: .5s;
}

.main-menu__link:hover {
    color: hsl(70, 100%, 35%);;
}

.section {
    color: #373737;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 900;
    padding-bottom: 95px;
}

.section-bg-color {
    background-color: #f5f6f7;
}

.section-img {
    width: 1280px;
    max-width: 100%;

}

.section-title {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 60px;
    padding-bottom: 35px;
}

.section-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    padding-bottom: 40px;
}

.section-text-width {
    width: 1059px;
    margin: 0 auto;
}


@font-face {
    font-family: GothamRounded;
    font-weight: bold;
    src: url(../fonts/gothamroundedbold_21016.ttf);
}

.button {
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: GothamRounded, sans-serif;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 2px;
    padding: 20px 60px;
    transition: 2s;
}

.button-green {
    background-color: #0fa186;
    color: #fff;
    border: 1px solid #0fa186;
    transition: 2s;
}

.button-green:hover {
    background-color: white;
    color: #0fa186;
    border: 1px solid #0fa186;
}

.footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-text {
    padding-right: 104px;
    text-align:right;
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 900;
}